html body {
    background: #2980b9;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

hr {
    color: black;
}

#slider {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    background: rgba(0, 0, 0, 0.8);

}

#sliderHolder {
    width: 100%;
    height: 300px;
}

#sliderHolder img {
    max-width: 500px;
    max-height: 450px;
    margin: 50px auto;
    display: block;
}

#leftJump {
    color: #2980b9;
    float: left;
    font-size: 100px;
    margin-left: 50px;
    cursor: pointer;
}

#rightJump {
    color: #2980b9;
    float: right;
    font-size: 100px;
    margin-right: 50px;
    cursor: pointer;
}

#closeBtn {
    float: right;
    margin-right: 50px;
    font-size: 100px;
    color: #2980b9;
    cursor: pointer;
}

#content {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

ul {
    list-style: none;
}

ul img {
    display: inline;
    width: 200px;
    height: 150px;
    margin-left: 40px;
}

ul li {
    display: inline;
    margin: auto;
}