html body {
    background: black;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: 30px;
}

hr {
    color: black;
}

#slider {
    position: absolute;
    width: 99%;
    height: 80%;
    background: rgba( 169, 169, 169, 0.8);
}

#sliderHolder {
    width: 100%;
    height: 300px;
}

#sliderHolder img {
    max-width: 500px;
    max-height: 450px;
    margin-left: 34%;
    margin-top: 2%;
    display: block;
}

#arrows {
    text-align: center;
    margin-top: 120px;
}

#rightJump, #leftJump {
    position: relative;
    color: white;
    font-size: 100px;
    cursor: pointer;
}

#closeBtn {
    float: right;
    margin-right: 50px;
    font-size: 100px;
    color: white;
    cursor: pointer;
}

#content {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul img {
    width: 200px;
    height: 150px;
    cursor: pointer;
}
